{% extends 'html/base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">            
            
            <form action="{% url 'solicitudes_crear' %}" method="POST" class="card card-body">
                
                <h2 class="display-6 text-center"> Nueva Solicitud </h1>

                {% csrf_token %}

                {{formulario.as_p}}

                <button class="btn btn-primary">Guardar</button>
                
                <hr>

                {{error}}
                
            </form>
        </div>
    </div>
</main>

{% endblock %}