{% extends 'html/base.html' %}

{% block content %}

<main class='container py-5'>
    <section class="card card-body">

        <h1 class="display-3 text-center">Helpdesk App</h1>
        <h6 class="text-center">ALPHA VERSION</h6>
        <p>Estes sistema de gestión funciona de la siguiente manera:</p>
        <ol>
            <li><strong>Creación de Solicitudes:</strong>
                <ul>
                    <li>Los usuarios pueden crear nuevas solicitudes a través de un formulario simple que recopila
                        información esencial como el título de la tarea, la descripción y urgencia.</li>
                    <li>Cada solicitud se asigna un identificador único para su seguimiento.</li>
                </ul>
            </li>
            <li><strong>Almacenamiento de Solicitudes:</strong>
                <ul>
                    <li>Las solicitudes se almacenan en una base de datos o sistema de gestión de tareas.</li>
                    <li>Se puede categorízar la solicitud en caso de ser Urgente".</li>
                </ul>
            </li>
            <li><strong>Gestión de Solicitudes:</strong>
                <ul>
                    <li>Los usuarios pueden ver una lista de todas las solicitudes creadas y pendientes por completar.</li>
                    <li>Las solicitudes pueden ser actualizadas por los usuarios, eliminandolas o completándolas con un botón.
                    </li>
                </ul>
            </li>
        </ol>


        {% if not user.is_authenticated %}

        <hr>

        <div class="text-center">
            <a class="btn btn-primary" href="{% url 'inicio_sesion' %}"> Iniciar Sesión </a>
            <a class="btn btn-secondary" href="{% url 'registro' %}"> Registrarse </a>
        </div>
        {% endif %}

    </section>

</main>
{% endblock %}