{% extends 'html/base.html' %}

{% block content %}

<main class="container">

    <div class="row">
        <div class="col-md-6 offset-md-3 mb-4">
            {% csrf_token %}
            <h1 class="text-center display-6 py-5">{{titulo}}</h1>
            <ol class="list-group">
                {% for solicitud in lista_solicitudes %}
                <a class="list-group-item" href="{% url 'solicitudes_detalle' solicitud.id %}">
                    <header class="d-flex justify-content-between">
                        <h3 class="">{{solicitud.titulo}} {% if solicitud.urgente %} <strong style="color: red;"> ! </strong> {% endif %} </h3>
                        <p style="color:brown;">{{solicitud.usuario.username}}</p>
                    </header>
                    <p>{{solicitud.descripcion}}</p>
                    {% if not solicitud.fecha_finalización == null %}
                    <h6>Realizada</h6>
                    <h6>{{solicitud.fecha_finalización}}</h6>
                    {% endif %}

                </a>
                {% endfor %}
            </ol>
        </div>
    </div>

</main>

{% endblock %}